@import "../../ui-kit/theme/variables";

#start_scene {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  #start_scene_main_panel {
    width: 100%;
    height: 100%;

    background: white;

    .flex-center;

    > h2 {
      margin-bottom: 8vh;
    }
  }
}
