#bookmarks_dashboard {
  width: 69vw;
  min-width: 800px;
  max-width: 95vw;
  top: 100vh;

  margin-top: 30vh;
  // margin-bottom: 30vh;

  border-radius: 3px;

  align-self: center;

  z-index: 100;
  transition: 0.5s;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  > section {
    width: 23vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 2px;
  }
}
