@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

html, body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
h4 {
  font-size: 18px;
  font-weight: bold;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

b, strong {
  font-weight: 500;
}
