:root {
  --background-color: #311B92;
  --background-color-danger: #B71C1C;

  --text-color: white;
  --text-color-inverted: #311B92;
  --text-color-danger: #B71C1C;

  --font-size-title: 24px;
  --font-size-regular: 14px;
  --font-size-small: 10px;

  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Lato', sans-serif;
}


.themed {
  background: var(--background-color);
  color: var(--text-color);
}

.inverted {
  background: none;
  color: var(--text-color-inverted);
}

.hover-effect {
  transition: 0.1s;
  &:hover {
    transform: translateY(-1.5px);
    transition: 0.1s;
  }
}

.active-effect {
  &:active {
    transform: translateY(-1.5px) scale(0.99);
    transition: 0.1s;
  }
}

.divider {
  height: 1px;
  max-height: 1px;

  padding: 0 10px;
  margin: 10px 0;

  background: #b6b6b6;
  background-clip: content-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
